@charset "utf-8";

/* Reset */
*{margin:0;padding:0;}

/* Page style */
body{
  background: #f4f4f4;
  font: 10px 'Open Sans Condensed', sans-serif;
  color: #454545;
}

a{
  text-decoration: none;
}

.wrap{
  width: 128px;
  margin: 50px auto;
}

/* Header */
#header{}

#header .avatar{
  width: 128px;
  height: 128px;
  position: relative;
  overflow: hidden;
  border-radius: 128px;
}

#header .avatar img{
  -webkit-filter: grayscale(0.6);
}

#header h1{
  font-size: 1.8rem;
  font-weight: 300;
  text-align: center;
  text-transform: lowercase;
  letter-spacing: 1px;
}

#header p{
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
  text-transform: lowercase;
}

/* Footer */
#footer nav li{
  list-style: none;
}