<nav class="main-nav">
    {% if page.url != "/index.html" %}
        <a href='{{ site.baseurl }}{{ page.about }}'> <span class="arrow">←</span> Home </a>
    {% endif %}
    {% if page.url != "/talks/" %}
        {% if site.aboutPage %}
            <a href='{{ site.baseurl }}talks'>Talks</a>
        {% endif %}
    {% endif %}
    {% if page.url != "/sobre/" %}
        {% if site.aboutPage %}
            <a href='{{ site.baseurl }}sobre'>Sobre</a>
        {% endif %}
    {% endif %}
    <a href="{{ site.baseurl }}feed.xml" title="Subscribe"><i class="fa fa-rss"></i></a>
</nav>
