---
layout: default
disqus: true
archive: false
social: false
---

<article class="post">
    <header>
        <h1>{{ page.title }}</h1>
        <h2 class="headline">{{ page.date | date:"%d %b %Y" }}</h2>
    </header>
    <section id="post-body">
        {{content}}
    </section>
</article>
<footer id="post-meta" class="clearfix">
    <a href="{{ site.baseurl }}sobre">
        <img class="avatar" src="http://www.gravatar.com/avatar/810bb6afeaae48e2b2a9f06c932410bc?s=128" alt="{{ site.author }}">
        <div>
            <span class="dark">{{ site.author }}</span>
            <span>{{ site.description }}</span>
        </div>
    </a>
{% if page.social %}
    <section id="sharing">
        {% include share.html %}
    </section>
{% endif %}
</footer>

<!-- Disqus comments -->
{% if page.disqus %}
    <div class="archive readmore">
        <h3>Comentários</h3>
        {% include disqus.html %}
    </div>
{% endif %}

<!-- Archive post list -->
{% if page.archive %}
    <ul id="post-list" class="archive readmore">
        <h3>Mais posts</h3>
        {% for post in site.posts %}
            <li>
                <a href="{{ post.url }}">{{ post.title }}<aside class="dates">{{ post.date | date:"%b %d" }}</aside></a>
            </li>
        {% endfor %}
    </ul>
{% endif %}
{% include footer.html %}
